{% extends 'base.html' %}

{% block content %}
<html>
<head>

<style>
body {font-family: Arial, Helvetica, sans-serif;}
form {border: 3px solid #f1f1f1;}


.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.logo192 {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}


/
</style>
</head>
<body>


<form action="/action_page.php" method="post">
  <div class="imgcontainer">
    <img src="img_avatar2.png" alt="Avatar" class="avatar">
  </div>

  
</form>

<p><b>Thank you for trying the Stock Prediction Web Application!</b></p>
    <p><b>Username:</b> {{request.user.username}}</p>
    <a href="/logout">Logout</a>
</body>
</html>

{% endblock %}
