<!doctype html>
<html lang="en">
  <head>
    {% load static %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'fa/css/all.min.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    {% include 'react/css.html' %}
    <title>Stock Prediction</title>
  </head>
  <body>
    {% block content %}

    {% endblock content %}

    {% include 'react/base_embed.html' %}
    {% include 'react/js.html' %}
  </body>
</html>
