{% if user.is_authenticated %}
	<form action="{% url 'index' %}" method="GET" accept-charset="utf-8">
		<button class="searchbutton" type="submit">
			<i class="fa fa-search"></i>
		</button>
		<input class="searchfield" id="searchbox" name="search" type="text" placeholder="Enter a ticker to search">
	</form>
	{% if ticker %}
		<p>Search Results:</p>
		<a href={{ ticker }}>{{ ticker }}</a>
		<br>
	{% endif %}
	{% if predictions %}
		<p>Your predictions:</p>
		{% for prediction in predictions %}
			<a href={{prediction.ticker}}>{{ prediction.ticker }}</a>
			<br>
		{% endfor %}
	{% endif %}
	<br>
	<a href='logout'>Logout</a>
{% else %}
	<a href="create-user">Make User</a>
	<a href="login">Login</a>
{% endif %}
